Repository jenkins-infra/docker-inbound-agents, pull requests merged in 2023-10, with the labels that each got.

#115 chore(updatecli) fix python manifest to also track version for JDK21
  updatecli/updatecli.d/weekly.d/python3.yml
Labels: chore, updatecli, jdk21, python3

#124 chore(updatecli): add missing jdk21 targets
  maven/jdk21/Dockerfile.nanoserver
  updatecli/updatecli.d/daily.d/launchable.yml
  updatecli/updatecli.d/weekly.d/maven.yml
Labels: maven, updatecli, launchable

#125 cleanup: remove JDK19 image
  Jenkinsfile_k8s
  maven/jdk19/Dockerfile.nanoserver
  maven/jdk19/cst-windows.yml
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/daily.d/launchable.yml
  updatecli/updatecli.d/weekly.d/inboundimage.yml
  updatecli/updatecli.d/weekly.d/jdk19.yml
  updatecli/updatecli.d/weekly.d/maven.yml
  updatecli/updatecli.d/weekly.d/python3.yml
Labels: cleanup
